html {
	overflow-y: scroll;
}

body {
	margin: 0;
	background: #1a1a1a;
	color: #999;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.75;
}

/* Links */
a {
	color: royalblue;
	text-decoration: none;
}
a:visited {
	color: purple;
}
a:hover,
a:focus,
a:active {
	color: midnightblue;
}
img {
	max-width: 100%;
	margin: 0 0 20px 0;
}
/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* =Menu
----------------------------------------------- */

.site-navigation ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.site-navigation li {
	line-height: 1.5;
	text-transform: uppercase;
	margin: 0.25em 0.75em;
	padding: 0;
	list-style: none;
	display: inline-block;
}
.site-navigation a {
	text-decoration: none;
	color: #999;
}
.site-navigation a:hover {
	color: #999;
}
.site-navigation .current a {
	color: #999;
}


/* =Content
----------------------------------------------- */

.site-title {
	margin: 0 0 30px 0;
	font-size: 1.75em;
	font-weight: 700;
	line-height: 1.5;
	text-transform: uppercase;
	
}
.site-title a {
	color: #FFF;
	
}
.section-title {
	color: #FFF;
	margin: 0 0 20px 0;
	font-size: 1.125em;
	font-weight: bold;
	
}
.site-description {
	color: #999;
}
.category {
	font-size: 1.125em;
	font-weight: bold;
	text-transform: uppercase;
}
.controls {
	padding: 0 0 20px;
	color: #eee;
}
button {
	display: inline-block;
	margin: 0 5px 10px 0;
	padding: .4em .8em;
	background: none;
	border: 1px solid #666;
	color: #ddd;
	font-size: 16px;
	font-weight: 300;
	border-radius: 5px;
	cursor: pointer;
}
button.active {
	background: #666;
}
button:focus {
	outline: 0 none;
}
.portfolio {
	padding: 0;
	list-style: none;
	margin: 0 -10px;
	overflow: hidden;
}
.portfolio li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	float: left;
	text-align: center;
	padding: 0 10px;
	margin: 0 0 20px 0;
	width: 25%;
	overflow: hidden;
}
.portfolio li:hover {
	opacity: 0.5;
}
.portfolio li img {
	margin: 0;
}
.portfolio .mix {
	display: none;
}

/* =Layout
----------------------------------------------- */

.site-main section {
	overflow: hidden;
}
#about,
#contact,
.site-header,
.site-footer {
	background: #222;
}
.site-main .container {
	max-width: 940px;
	margin: 20px auto;
	padding: 0 20px 0;
	overflow: hidden;
}
.site-header {
	padding: 50px 20px 20px;
	text-align: center;
}
.site-main {
	overflow: hidden;
}
.site-footer {
	text-align: center;
	overflow: hidden;
}
.site-footer p {
	color: #666;
	font-size: 0.8em;
}
svg {
	display: block;
}
#curveUpColor path,
#curveDownColor path {
	fill: #222;
	stroke: #222;
}
.icon {
	margin: 0 1.5em 0 0;
	white-space: nowrap;
}
.icon:before {
	color: #999;
	font-family: "icons", sans-serif;
	margin: 0 0.5em 0 0;
}
.icon:hover:before {
	color: #999;
}
.comments-link:before {
	content: '\e718';
}
.cat-links:before {
	content: '\1f4c2';
}
.tags-links:before {
	content: '\e70d';
}
.edit-link:before {
	content: '\270e';
}
.date:before {
	content: '\1f4c5';
}
@media screen and (max-width: 480px) {
	.portfolio li {
		width: 50%;
	}
	img.alignleft, img.alignright {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
}
 
@media screen and (min-width : 481px) and (max-width: 640px) {
	.portfolio li {
		width: 33.3333%;
	}
	img.alignleft, img.alignright {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
}
 
@media screen and (min-width : 641px) and (max-width: 768px) {
	.portfolio li {
		width: 33.3333%;
	}
}